<p>people-table works!</p>


<div class="container" style="margin-top: 70px;"></div>
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Hair Colour</th>
            <th>Skin Colour</th>
            <th>Eye Colour</th>
            <th>Birth Year</th>
            <th>Gender</th>
            <th>Home World</th>
            <th>Films</th>
            <th>Species</th>
            <th>Vehicles</th>
            <th>Starships</th>
        </thead>
        <tbody>
            <tr *ngFor="let person of person">
                <td>{{person.name}}</td>
                <td>{{person.height}}</td>
                <td>{{person.mass}}</td>
                <td>{{person.hairColour}}</td>
                <td>{{person.skinColour}}</td>
                <td>{{person.eyeColour}}</td>
                <td>{{person.birthYear}}</td>
                <td>{{person.gender}}</td>
                <td>{{person.homeworld}}</td>
                <!-- <td>{{person.films}}</td>
                <td>{{person.species}}</td>
                <td>{{person.vehicles}}</td>
                <td>{{person.starships}}</td> -->
            </tr>
        </tbody>
    </table>